@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

.font-saint {
    font-family: 'Mrs Saint Delafield', cursive;
}